
/*--====== Light ======--*/
:root {
    --allogo-cl-1: #0013FF;
}
/*--====== Dark ======--*/
:root .day_night {
    --allogo-cl-1:#2f74ea;
}


@media (prefers-color-scheme: dark) {
    /*--====== Dark ======--*/
    :root {
        --allogo-cl-1:#2f74ea;
    }
    /*--====== Light ======--*/
    :root .day_night {
        --allogo-cl-1: #0013FF;
    }
}

  
  
  
  
.header {
    background-color: #fafafa;
    position: relative;
}



/*--- Header Top NDTV Logo ---*/
.t-md {
    padding: 6px 0;
}
.hdr-lhs-col {
    margin: 0;
    width: 250px;
    min-height: 1px;
}

.vj_icn.vj_logo-ndtv {
    color: var(--vj-cl-dr);
    font-size: 104px;
    float: left;
    height: auto;
}
.ndtv-logo {
    display: inline-block;
    float: left;
    padding: 17px 0 0;
    position: relative;
    z-index: 6;
}
.ndtv-logo-rgnl {
    padding: 9px 0;
}

.ndtv-logo-rgnl .vj_icn.vj_logo-ndtv {
    height: 32px;
    width: auto;
}
.sid-nav .ndtv-lgo.ndtv-logo-rgnl {
    padding: 5px 0 0;
}
.sid-nav .ndtv-logo-rgnl .vj_icn.vj_logo-ndtv {
    height: 35px;
}





  .LogoAI {
      fill: url(#SVGID_1_);
  }


  .LogoAI-cl2 {
      stop-color: var(--allogo-cl-2);
  }

  .LogoAI-cl1 {
      stop-color: var(--allogo-cl-1);
  }

  
  
  
  
  
  
  



.t-icn-nv  {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: 19px;
    display: flex;
    float: right;
    height: 51px;
    position: relative;
    width: 34px;
    flex-direction: row;
    justify-content: center;
}
.t-md .t-icn-nv  {
    height: 71px;
}
.t-icn-nv .vj_icn {
    color: var(--vj-cl-dr2);
    /* color: #fafafa; */
    font-size: 20px;
    display: inline-block;
    margin-top: 18px;
}

.t-icn-nv:hover .vj_icn {
    color: var(--vj-cl-dr2);
}


.m-nv_clr .t-icn-nv.vj_bell-act .vj_icn {
    color: #ffd5c6;
    position: relative;
}


.t-icn-sr img {
    padding-top: 15px;
}



.Ntyf-wg_on .tip.on-bottom {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
    visibility: visible;
    opacity: 1;
}


.Ntyf-wg.t-icn-nt.ttp .tip_wrp {
    padding: 11px 21px;
}

.t-icn-nv .Ntyf-wg_cls.vj_icn {
    background: var(--vj-cl-dr6);
    border-radius: 12px;
    color: var(--vj-cl-lg);
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    margin: 8px 0 0;
    padding: 4px;
    position: absolute;
    height: 18px;
    width: 18px;
    top: -6px;
    right: 2px;
    
}






/* Nav Icon */
.sid-nav-icn_wrp {
    border-radius: 4px;
    margin: 0 0 0 0;
    color: #ffffff;
    /* color: #060606; */
    display: inline-block;
    float: left;
    position: relative;
    padding: 13px 12px 13px 0;
    cursor: pointer;
}

.nav-stk_wr {
    float: left;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 991;
    transition: all .37s cubic-bezier(.37,.15,.32,.94);
}





/* promo / Brand Icon logo */
.crs-stk {
    display: flex;
    height: 51px;
    float: right;
    align-items: center;
    margin-right: 0;
}

.crs-stk svg {
    width: 102px;
}




/*--====== Stcky Nav ======--*/
.nav-stk_wr {
    float: left;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 991;
    transition: all .37s cubic-bezier(.37,.15,.32,.94);
}
.sticky.js-stuck-down.js-stuck-up  {
    position: fixed;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

.sticky.js-stuck-down {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-51px);
    -moz-transform: translateY(-51px);
    transform: translateY(-51px);
}







@media (min-width: 1200px) {
    
    
.nav-stk_wr {
    position: sticky;
    /* top: -71px; */
}
    .crs-stk {
    display: none;
    }
    
}










