/*--- Dropdown Bottom ---*/
.brw-nav {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 9;
}
/*.brw-nav_lnk {
    display: inline-block;
    float: right;
    position: relative;
}*/
.brw-nav .vj_icn {
  font-size: 23px;
  display: inline-block;
  float: right;
  margin-top: 0;
}
/*.brw-nav_txt {
    display: inline-block;
    float: left;
    padding: 0 6px 0 4px;
}*/

.brw-nav_wrp {
  background: var(--vj-cl-lg);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--vj-cl-rg1);
  margin: 12px 0 12px 12px;
  color: var(--vj-cl-dr1);
  display: inline-block;
  float: left;
  font-family: var(--ff-two);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  padding: 6px 8px 6px;
  text-transform: capitalize;
}
/*.brw-nav_wrp-up {
    box-shadow: 0 4px 12px rgba(18, 22, 33, 0.2);
}*/

.set_drp-nav {
  position: absolute;
  box-shadow: 0 36px 18px -18px rgba(0, 0, 0, 0.28);
  top: 42px;
  left: 50%;
  right: auto;
  z-index: 1000;
  font-size: 14px;
  text-align: left;
  width: 190px;
  min-height: 53px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: top left;
  -webkit-transform: scale(0) translateX(-50%);
}

.set_drp:hover .set_drp-nav {
  opacity: 1;
  -webkit-transform-origin: top left;
  -webkit-transform: scale(1, 1) translateX(-50%);
}

.set_drp-nav-ul {
  background-color: var(--vj-cl-lg1);
  border: 1px solid var(--vj-cl-rg1);
  box-shadow: 0 1px 6px var(--vj-cl-rg1);
  border-radius: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
}

.set_drp-nav-ul:after {
  border-top: none;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid var(--vj-cl-lg1);
  top: -11px;
  content: "";
  height: 12px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  width: 8px;
  z-index: 9;
}
