/*----====== Card C ======----*/
.crd-c {
    display: inline-block;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}
.crd-c .crd_ttl {
    /* font-size: 15px; */
    /* font-weight: 400; */
    /* line-height: 21px; */
    margin-bottom: 0;
}
.crd-c .crd_txt-wrp {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.crd-c .crd_img {
    margin: 0 12px 0 0;
    width: 120px;
}