/*----====== Card Add ======----*/
.crd-add .crd-tag {
    background: #e2f5d3;
}
.crd-add .crd_lnk {
    display: inline-block;
    float: left;
    font-family: var(--ff-two);
    font-size: 14px;
    line-height: 19px;
}
.crd-add .crd_lnk-sub {
    color: var(--txt-c);
    display: inline-block;
    font-family: var(--ff-two);
    float: left;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.3px;
}