/*----====== Card C ======----*/

.crd-c_v1 {
  display: inline-block;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row-reverse;
  align-content: space-between;
}

.crd-c_v1 .crd_ttl {
  /* font-size: 15px; */
  /* font-weight: 400; */
  /* line-height: 21px; */
  margin-bottom: 0;
}
.crd-c_v1 .crd_txt-wrp {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ls-ns-3 .crd-c_v1 .crd_img {
  width: 190px;
  margin: 0 20px 0 0;
}

.crd-c_v1 .crd_img {
  margin: 20px 0 0 10px;
}

@media (min-width: 1280px) and (max-width: 1399px) {
  /* .crd-c_v1 .crd_img {
    width: 84px;
} */
}

@media (min-width: 1200px) {
  .crd-c_v1 .crd_img {
    margin: 0 25px 0 0;
    width: 226px;
  }

  .crd-c_v1 {
    flex-direction: row;
  }
}
