

/*--====== Light ======--*/
:root {
    --vj-cl-ClrgCrd-a1: #fff59f;
    --vj-cl-ClrgCrd-a2: #fff9ca;
}


/*--====== Dark ======--*/
:root .day_night {
    --vj-cl-ClrgCrd-a1: #c73c3c;
    --vj-cl-ClrgCrd-a2: #2f3133;
}

/*--====== Dark Mode ======--*/
@media (prefers-color-scheme:dark){
    /*--====== Dark ======--*/
    :root {
        --vj-cl-ClrgCrd-a1: #c73c3c;
    --vj-cl-ClrgCrd-a2: #2f3133;
    }

    /*--====== Light ======--*/
    :root .day_night {
        --vj-cl-ClrgCrd-a1: #ffec4e;
    --vj-cl-ClrgCrd-a2: #fff9ca;
    }
}



/*----====== Card H ======----*/


.ClrgCrd-a {
    background: var(--vj-cl-bg);
    border-radius: 12px;
    -webkit-box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    display: flex;
    float: left;
    padding: 12px;
    position: relative;
    margin-bottom: 35px;
    /* height: 100%; */
    flex-direction: column;
    text-align: center;
}

.ClrgCrd-a_bg1 {
    background: var(--vj-cl-ClrgCrd-a2);
}
    
    
.ClrgCrd-a_h100 {
    height: 100%;
}

.ClrgCrd-a_wrp {
    display: inline-block;
    float: left;
    padding-bottom: 30px;
    position: relative;
    height: 100%;
}

.ClrgCrd-a .crd_txt-wrp {
    /* display: inline-block; */
    float: left;
    padding: 2px 0 18px;
}


.ClrgCrd-a .crd_img, .ClrgCrd-a .img-gr {
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}



.ClrgCrd-a:hover .crd-ft_bt {
    opacity: 1;
}

.ClrgCrd-a_read {
    background: var(--vj-cl-lg4);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.0);
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.0);
}

.ClrgCrd-a_read .crd_lnk {
    color: var(--vj-cl-dr5);
}

.img-gr_ClrgCrd-a {
    padding-bottom: 134%;
}
.ClrgCrd-img {
    border-radius: 12px;
}
.ClrgCrd-a_ttl1 {
    color: var(--vj-cl-dr);
    font-family: var(--ff-three);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-transform: capitalize;
    letter-spacing: 0.6px;
}
.ClrgCrd-a_tx-sel {
        padding: 3px 6px;
        background: var(--vj-cl-ClrgCrd-a1);
}
.ClrgCrd-a_ttl1 .crd_lnk {
    color: var(--vj-cl-dr);
    /* padding: 5px 20px; */
    /* background: #ffe982; */
    text-decoration: underline;
}

.ClrgCrd-b_H-ttl2 {
    color: var(--vj-cl-dr);
    font-family: var(--ff-three);
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    text-transform: capitalize;
    letter-spacing: 0.6px;
}
.ClrgCrd-b_H-ttl2 .crd_lnk {
    color: var(--vj-cl-dr);
    /* padding: 5px 20px; */
    /* background: #ffe982; */
    text-decoration: underline;
}


@media(max-width:768px){

.ClrgCrd-a_h100 {
    height: auto;
}

}




