:root {
  --vj-cl-Err1: #333;
  --vj-cl-Err2: rgba(0, 0, 0, 0.25);
  --vj-cl-Err3: #ebebeb;
  --vj-cl-Err4: linear-gradient(315deg, #87ca2f 0%, #66b379 60%);
}

:root .day_night {
  --vj-cl-Err1: #f1f1f1;
  --vj-cl-Err2: rgba(0, 0, 0, 0.73);
  --vj-cl-Err3: #242424;
  --vj-cl-Err4: linear-gradient(315deg, #175c29 0%, #2d7c41 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --vj-cl-Err1: #f1f1f1;
    --vj-cl-Err2: rgba(0, 0, 0, 0.73);
    --vj-cl-Err3: #242424;
    --vj-cl-Err4: linear-gradient(315deg, #175c29 0%, #2d7c41 60%);
  }

  :root .day_night {
    --vj-cl-Err1: #333;
    --vj-cl-Err2: rgba(0, 0, 0, 0.25);
    --vj-cl-Err3: #ebebeb;
    --vj-cl-Err4: linear-gradient(315deg, #87ca2f 0%, #66b379 60%);
  }
}

.Err_Eff-col {
  display: -ms-flexbox;
  display: inline-block;
  margin: -40px auto -60px;
  position: relative;
  width: 100%;
  z-index: 8;
  transform: scale(0.5);
}

.Err_Eff-wr {
  position: relative;
  margin-bottom: 18px;
  width: 50%;
  margin: 0;
  width: 100%;
}

.Err_Cnt {
  display: flex;
  padding: 0;
  margin: 0 0 0;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.Err_Tx-col {
  display: inline-block;
  padding: 0 0 55px 0;
  position: relative;
  width: 100%;
  z-index: 9;
}

.Err_Tx-ttl {
  color: var(--vj-cl-Err1);
  display: inline-block;
  float: left;
  font-size: 104px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 8px;
  width: 100%;
}

.Err_Tx-sb-ttl {
  color: var(--vj-cl-Err1);
  font-size: 48px;
  font-weight: 800;
  line-height: 35px;
  margin-bottom: 16px;
}

.Err_Tx-sb-ttl2 {
  font-size: 26px;
  font-weight: 500;
  display: block;
  margin-top: 14px;
}

.Err_Tx-txt {
  display: inline-block;
  float: left;
  color: var(--vj-cl-Err1);
  font-size: 16px;
  margin-bottom: 16px;
  opacity: 0.8;
  width: 100%;
}

.Err_Tx-btn {
  background: var(--vj-cl-m);
  border: 1px solid var(--vj-cl-m);
  border-radius: 31px;
  color: #ebf7ee;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.06);
}

.Err_Tx-btn:hover {
  background-color: #fff;
  /* border-bottom: 2px solid var(--vj-cl-m); */
  color: var(--vj-cl-m);
}

.Err_glitch {
  transform: scale3d(1, 1, 1);
}

.Err_glitch::after,
.Err_glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: var(--vj-cl-bg1);
  color: var(--vj-cl-dr);
  clip: rect(0, 900px, 0, 0);
}

.Err_glitch::before {
  left: 7px;
  text-shadow: 1px 0 #49a25c;
  animation: Err_glitch-effect 3s infinite linear alternate-reverse;
}

.Err_glitch::after {
  left: 3px;
  text-shadow: -1px 0 #ff5722;
  animation: Err_glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes Err_glitch-effect {
  0% {
    clip: rect(83px, 9999px, 49px, 0);
  }

  5% {
    clip: rect(14px, 9999px, 1px, 0);
  }

  10% {
    clip: rect(45px, 9999px, 25px, 0);
  }

  15% {
    clip: rect(67px, 9999px, 4px, 0);
  }

  20% {
    clip: rect(5px, 9999px, 47px, 0);
  }

  25% {
    clip: rect(22px, 9999px, 16px, 0);
  }

  30% {
    clip: rect(60px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(36px, 9999px, 32px, 0);
  }

  40% {
    clip: rect(97px, 9999px, 82px, 0);
  }

  45% {
    clip: rect(87px, 9999px, 37px, 0);
  }

  50% {
    clip: rect(100px, 9999px, 63px, 0);
  }

  55% {
    clip: rect(67px, 9999px, 42px, 0);
  }

  60% {
    clip: rect(91px, 9999px, 58px, 0);
  }

  65% {
    clip: rect(45px, 9999px, 7px, 0);
  }

  70% {
    clip: rect(42px, 9999px, 29px, 0);
  }

  75% {
    clip: rect(10px, 9999px, 94px, 0);
  }

  80% {
    clip: rect(46px, 9999px, 41px, 0);
  }

  85% {
    clip: rect(46px, 9999px, 100px, 0);
  }

  90% {
    clip: rect(94px, 9999px, 64px, 0);
  }

  95% {
    clip: rect(86px, 9999px, 46px, 0);
  }

  100% {
    clip: rect(48px, 9999px, 76px, 0);
  }
}

@keyframes Err_glitch-effect {
  0% {
    clip: rect(83px, 9999px, 49px, 0);
  }

  5% {
    clip: rect(14px, 9999px, 1px, 0);
  }

  10% {
    clip: rect(45px, 9999px, 25px, 0);
  }

  15% {
    clip: rect(67px, 9999px, 4px, 0);
  }

  20% {
    clip: rect(5px, 9999px, 47px, 0);
  }

  25% {
    clip: rect(22px, 9999px, 16px, 0);
  }

  30% {
    clip: rect(60px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(36px, 9999px, 32px, 0);
  }

  40% {
    clip: rect(97px, 9999px, 82px, 0);
  }

  45% {
    clip: rect(87px, 9999px, 37px, 0);
  }

  50% {
    clip: rect(100px, 9999px, 63px, 0);
  }

  55% {
    clip: rect(67px, 9999px, 42px, 0);
  }

  60% {
    clip: rect(91px, 9999px, 58px, 0);
  }

  65% {
    clip: rect(45px, 9999px, 7px, 0);
  }

  70% {
    clip: rect(42px, 9999px, 29px, 0);
  }

  75% {
    clip: rect(10px, 9999px, 94px, 0);
  }

  80% {
    clip: rect(46px, 9999px, 41px, 0);
  }

  85% {
    clip: rect(46px, 9999px, 100px, 0);
  }

  90% {
    clip: rect(94px, 9999px, 64px, 0);
  }

  95% {
    clip: rect(86px, 9999px, 46px, 0);
  }

  100% {
    clip: rect(48px, 9999px, 76px, 0);
  }
}

@media (min-width: 820px) {
  .Err_Tx-ttl {
    font-size: 114px;
  }

  .Err_Tx-sb-ttl {
    font-size: 52px;
  }

  .Err_Cnt {
    display: flex;
    margin: 45px 0 40px;
    padding: 0 35px 0 0;
    text-align: left;
    flex-direction: row;
  }

  .Err_Eff-col {
    float: left;
    padding: 0 40px 0 0;
    margin: 0 auto;
    transform: scale(1);
    width: 50%;
    z-index: 91;
  }

  .Err_Tx-col {
    padding: 0 0 55px 40px;
    width: 50%;
  }

  .Err_Eff-wr {
    margin: 0 140px 0 80px;
    height: 250px;
    width: 70%;
  }

  .Err_plate {
    top: 70%;
  }

  .Err_coffe {
    left: -30%;
    top: -15%;
    width: 97%;
  }
}

@media (max-width: 992px) {
  .Err_Eff-wr {
    -ms-flex: 0 0 50%;
  }
}

.Err-PPr {
  display: block;
  margin: auto;
  overflow: visible;
  width: 100%;
  max-width: 344px;
  height: auto;
  transform: rotate(-17deg);
}

.Err-PPr_fill {
  fill: hsl(0deg 0% 100%);
}

.Err-PPr_lines,
.Err-PPr_outline {
  transition: stroke 0.3s;
}

.Err-PPr_outline {
  stroke: #333;
}

.Err-PPr_lines {
  stroke: #949494;
}

.Err-PPr_shadow {
  fill: rgb(156 156 156 / 36%);
  transition: fill 0.3s;
}

.Err-PPr_bottom,
.Err-PPr_tear,
.Err-PPr_tear-fill,
.Err-PPr_top {
  animation: Err-PPrTop 1.25s cubic-bezier(0.77, 0, 0.18, 1);
}

.Err-PPr_bottom,
.Err-PPr_top {
  transform-origin: 0 148px;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}

.Err-PPr_top {
  transform: translate(0, 8px);
}

.Err-PPr_bottom {
  animation-name: Err-PPrBottom;
  transform: translate(0, 42px);
}

.Err-PPr_tear,
.Err-PPr_tear-fill {
  animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}

.Err-PPr_tear {
  animation-name: Err-PPrTear;
  stroke-dashoffset: 0;
}

.Err-PPr_tear-fill {
  animation-name: Err-PPrTearFill;
}

.Err-PPr_outline:hover .Err-PPr_bottom,
.Err-PPr_outline:hover .Err-PPr_top {
  transform: translate(0, 25px);
}

@media (min-width: 768px) {
  .Err-PPr {
    max-width: 300px;
  }
}

@keyframes Err-PPrTop {
  40%,
  from {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translate(0, 25px) rotate(0);
    transform-origin: 61px 148px;
  }

  70% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1.5);
    transform: translate(0, 25px) rotate(-5deg);
    transform-origin: 61px 148px;
  }

  to {
    transform: translate(0, 8px) rotate(0);
    transform-origin: 0 148px;
  }
}

@keyframes Err-PPrBottom {
  40%,
  from {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translate(0, 25px) rotate(0);
    transform-origin: 61px 148px;
  }

  70% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1.5);
    transform: translate(0, 25px) rotate(5deg);
    transform-origin: 61px 148px;
  }

  to {
    transform: translate(0, 42px) rotate(0);
    transform-origin: 0 148px;
  }
}

@keyframes Err-PPrTear {
  40%,
  from {
    stroke-dashoffset: -198;
  }

  70%,
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes Err-PPrTearFill {
  40%,
  from {
    width: 187px;
  }

  70%,
  to {
    width: 0;
  }
}
