/*--====== Light ======--*/
:root {
  --vj-cl-SSR1: #c7c7c7;
}
/*--====== Dark ======--*/
:root .day_night {
  --vj-cl-SSR1: #4e4e4e;
}
/*--====== Dark Mode ======--*/
@media (prefers-color-scheme: dark) {
  /*--====== Dark ======--*/
  :root {
    --vj-cl-SSR1: #4e4e4e;
  }
  /*--====== Light ======--*/
  :root .day_night {
    --vj-cl-SSR1: #c7c7c7;
  }
}

/*--- Dropdown Bottom ---*/

.SSR_drp {
  display: inline-block;
  float: left;
  margin-left: 4px;
  padding-bottom: 0;
  position: relative;
}
.SSR_btn-lnk {
  background: var(--vj-cl-lg);
  border: 1px solid var(--vj-cl-SSR1);
  border-radius: 24px;
  color: var(--vj-cl-dr2);
  cursor: pointer;
  display: flex;
  float: left;
  line-height: 16px;
  margin: 0;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  height: 30px;
  min-width: 30px;
  justify-content: center;
  flex-direction: row;
}
.SSR_btn-tx {
  display: none;
  /* color: var(--vj-cl-dr2); */
  font-size: 13px;
  font-weight: 500;
  float: left;
  margin-left: 4px;
  line-height: 29px;
  /* width: 100%; */
}
.SSR_icn {
  font-size: 15px;
  display: inline-block;
  float: left;
  margin-right: 0;
  margin-top: 0;
  /* width: 100%; */
}
.SSR_drp-icn {
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-left: 6px;
}
.SSR_drp-nav {
  position: absolute;
  top: 29px;
  left: 0;
  right: auto;
  z-index: 1;
  font-size: 14px;
  text-align: left;
  background-color: var(--vj-cl-lg);
  border: 1px solid var(--vj-cl-rg1);
  box-shadow: 0 2px 2px rgb(0 0 0 / 23%);
  border-radius: 6px;
  /* margin-left: -70px; */
  width: 140px;
  min-height: 53px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: left top;
  -webkit-transform: scale(0);
}
.SSR_drp:hover .SSR_drp-nav {
  opacity: 1;
  -webkit-transform-origin: left top;
  -webkit-transform: scale(1, 1);
}

.SSR_drp.fts_set:hover .SSR_drp-nav {
  opacity: 1;
  -webkit-transform-origin: right bottom;
  -webkit-transform: scale(1, 1);
}

.SSR_drp-nav-ul,
.sp-cn .SSR_drp-nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
}

.SSR_drp-nav-ul:before {
  border: solid transparent;
  border-width: 6px;
  border-bottom-color: var(--vj-cl-rg3);
  top: -13px;
  content: "";
  height: 8px;
  left: 20px;
  margin-left: -4px;
  position: absolute;
  width: 5px;
  z-index: 9;
}

.SSR_drp-nav-ul:after {
  border: solid transparent;
  border-width: 6px;
  border-bottom-color: var(--vj-cl-lg);
  top: -12px;
  content: "";
  height: 8px;
  left: 20px;
  margin-left: -4px;
  position: absolute;
  width: 8px;
  z-index: 9;
}

.SSR_drp-nav-li {
  border-bottom: 1px solid var(--vj-cl-rg1);
  color: #666;
  display: inline-block;
  float: left;
  list-style: none;
  width: 100%;
  /* opacity: 0; */
  /* transform: translateY(0px); */
  /* -webkit-transition: all 0.3s ease; */
  /* transform: translateY(-30%); */
}
.SSR_drp-nav-li:last-child {
  border-bottom: 0 none;
}
.SSR_drp-nav-lnk {
  color: var(--vj-cl-dr2);
  display: inline-block;
  float: left;
  font-family: var(--ff-two);
  font-size: 13px;
  font-weight: 600;
  line-height: 27px;
  padding: 6px 7px 4px 11px;
  position: relative;
  text-transform: capitalize;
  width: 100%;
}
.SSR_drp-nav-txt:hover,
.SSR_drp-nav-lnk:hover {
  background-color: var(--vj-cl-rg6);
}

.dd-nav_hvr:hover > .SSR_drp-nav-lnk:before,
.m-nv_lnk:hover:before,
.SSR_drp-nav-lnk:focus:before {
  width: 100%;
  opacity: 1;
}

.SSR_drp-nav-li .vj_ss-icn {
  display: inline-block;
  float: left;
  font-size: 16px;
  margin: 4px 8px 0 0;
}

.SSR_drp-nav-li:first-child {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.SSR_drp-nav-li:last-child {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.SSR_WAP {
  display: inline-block;
}

.SSR_WEB {
  display: none;
}

.SSR_rgt.SSR_drp {
  float: right;
}

/*--====== Right dropdown starts ======--*/
.SSR_rgt.SSR_drp {
  padding-bottom: 0;
}

.SSR_rgt.SSR_drp:hover .SSR_drp-nav {
  -webkit-transform-origin: right top;
  left: auto;
  right: 0;
}

.SSR_rgt .SSR_drp-nav {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
}

.SSR_rgt .SSR_drp-nav-ul:before {
  left: auto;
  right: 20px;
}

.SSR_rgt .SSR_drp-nav-ul:after {
  left: auto;
  right: 20px;
}

/*--====== Right dropdown ends ======--*/

.SSR_drp-nav-tp .SSR_drp-nav {
  top: auto;
  bottom: 30px;
  box-shadow: 0 0px 2px rgb(0 0 0 / 23%);
  -webkit-transform-origin: right bottom;
  z-index: 1;
}

.SSR_drp-nav-tp .SSR_drp-nav-ul::before {
  border-top-color: rgb(0 0 0 / 23%);
  border-bottom-color: transparent;
  top: inherit;
  bottom: -13px;
}

.SSR_drp-nav-tp .SSR_drp-nav-ul::after {
  bottom: -12px;
  top: inherit;
  transform: rotate(180deg);
  margin-left: -2px;
}

.SSR_drp-nav-tp {
  /* padding-top: 8px; */
  padding-bottom: 0px;
}

.SSR_rgt.SSR_drp-nav-tp:hover .SSR_drp-nav,
.SSR_rgt.SSR_drp-nav-tp:hover {
  -webkit-transform-origin: right bottom;
}

@media (min-width: 1200px) {
  .SSR_btn-tx {
    /* float: left; */
    line-height: 28px;
    width: auto;
  }
  .SSR_icn {
    font-size: 15px;
    float: left;
    /* margin-right: 3px; */
  }
  .SSR_WAP {
    display: none;
  }
  .SSR_WEB {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .SSR_btn-tx {
    display: inline-block;
  }
  .SSR_btn-lnk {
    min-width: 75px;
  }
}

@media (max-width: 330px) {
  .SSR_wrp {
    font-size: 11px;
  }
}
