.PhtCrd_wr {
    float: left;
    display: inline-block;
    width: 100%;
    margin:0;
    padding:0;
    
}

.PhtCrd_cn{
    /* background-color: var(--vj-cl-WbGlr1);
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%); */
    float: left;
    display: inline-block;
    width: 100%;
    margin:0;
    padding:0;
}

.PhtCrd_img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    min-height: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: left;
}

.PhtCrd_img .img-gr{border-radius:8px;}

.PhtCrd_bt .SSR_btn-lnk {
    min-width: 26px;
    height: 26px;
}


.PhtCrd_qty{
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    padding: 15px 14px 9px;
    font-size: 11px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    background: -moz-linear-gradient(0deg,rgba(0,0,0,.72) 33%,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .72) 33%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, .72) 33%, rgba(0, 0, 0, 0) 100%);
}

.PhtCrd_qty .vj-doctor-photo-icn{margin: 0 8px 0 0;font-size: 16px;}


.PhtCrd_txt-wr{
    float: left;
    display: inline-block;
    width: 100%;
    margin:0;
    padding:10px 0;
}

.PhtCrd_ttl{
    color: var(--vj-cl-dr);
    display:inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
}


.PhtCrd_bt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: none;
    }


    .PhtCrd_bt-dt{
        color: var(--vj-cl-dr7);
        display: inline-block;
        float: left;
        font-size: 12px;
        font-family: var(--ff-two);
        font-weight: 500;
        line-height: 17px;
        padding: 0;
        position: relative;
        margin-top: 2px;
    }


    .PhtCrd_bt .vj_share2{font-size: 12px;}

    .PhtCrd_img .VdTgIm-Crd{padding:8px 10px;}

    .PhtCrd_lnk{color: var(--vj-cl-dr);}
    .PhtCrd_lnk:hover{color: var(--vj-cl-dr1);}


@media(min-width:992px){

    .PhtCrd_ttl{font-size:15px}
}