:root {
            --vj-cl-MrIn1: #fff;
            --vj-cl-MrIn2: #eee;
            --vj-cl-MrIn3: #eee;
            --vj-cl-MrIn4: #e8e8e8;
            --vj-cl-MrIn5: #d6f3ff
        }

        :root .day_night {
            --vj-cl-MrIn1: #212121;
            --vj-cl-MrIn2: #383838;
            --vj-cl-MrIn3: rgba(232, 232, 232, 0.17);
            --vj-cl-MrIn4: #363636;
            --vj-cl-MrIn5: #26456a
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --vj-cl-MrIn1:#212121;
                --vj-cl-MrIn2: #383838;
                --vj-cl-MrIn3: rgba(232, 232, 232, 0.17);
                --vj-cl-MrIn4: #363636;
                --vj-cl-MrIn5: #26456a
            }

            :root .day_night {
                --vj-cl-MrIn1: #fff;
                --vj-cl-MrIn2: #eee;
                --vj-cl-MrIn3: #eee;
                --vj-cl-MrIn4: #e8e8e8;
                --vj-cl-MrIn5: #d6f3ff
            }
        }

        .MrIn_on,.MrIn_on2,.MrIn_on3,.MrIn_on4 {
            overflow: hidden
        }


        .MrIn_wdg {
            position: fixed;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            z-index: 100000000;
            
        }

        .MrIn_wr {
            height: 100%;
            left: 0;
            position: fixed;
            width: 100%;
            -webkit-transform: translateY(200%);
            top: 0;
            transform: translateY(200%);
            z-index: 3;
            transition: .3s
        }

        .MrIn_cn {
            background-color: var(--vj-cl-MrIn1);
            bottom: 0;
            color: var(--vj-cl-dr);
            display: flex;
            flex-direction: column;
            height: 294px;
            margin: 0;
            width: 100%;
            will-change: transform;
            overflow: hidden;
            position: fixed;
            pointer-events: auto;
            z-index: 100;
            border-radius: 10px 10px 0 0;
            overflow-y: auto
        }

        .MrIn_over-bg {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 72%);
            backdrop-filter: blur(6px);
            opacity: 0;
            visibility: hidden;
            transition: .3s linear
        }

        .MrIn_on .MrIn_wdg1 .MrIn_over-bg,.MrIn_on2 .MrIn_wdg2 .MrIn_over-bg,.MrIn_on3 .MrIn_wdg3 .MrIn_over-bg,.MrIn_on4 .MrIn_wdg4 .MrIn_over-bg {
            opacity: 1;
            visibility: visible
        }

        .MrIn_on {
            overflow: hidden
        }

        .MrIn_on .MrIn_wdg1 .MrIn_wr,.MrIn_on2 .MrIn_wdg2 .MrIn_wr,.MrIn_on3 .MrIn_wdg3 .MrIn_wr,.MrIn_on4 .MrIn_wdg4 .MrIn_wr {
            -webkit-transform: none;
            transform: none;
            pointer-events: none
        }

        .MrIn_tp,.MrIn_tp2 {
            padding: 0;
            display: inline-block;
            margin: 0 0 10px;
            width: 100%;
            height: calc(100% - 82px);
            overflow-y: auto
        }

        .MrIn_tp2 {
            margin: 0 0 10px;
            height: calc(100% - 132px)
        }

        .MrIn_btm {
            display: flex;
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            justify-content: center
        }

        .MrIn_btn,.MrIn_btn2 {
            background: var(--vj-cl-MrIn4);
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--vj-cl-dr);
            font-size: 14px;
            font-weight: 700;
            padding: 4px 17px;
            transition: all .3s;
            line-height: 36px;
            margin: 0 2px 18px;
            min-width: 126px
        }

        .MrIn_btn2 {
            background: var(--vj-cl-MrIn5)
        }

        .MrIn_btn2:hover,.MrIn_btn:hover {
            background: var(--vj-cl-MrIn2)
        }

        .MrIn_hd-icn {
            height: 40px;
            cursor: pointer;
            text-align: center
        }

        .MrIn_hd-icn:after {
            background-color: var(--vj-cl-MrIn2);
            border-radius: 6px;
            height: 6px;
            margin: 20px auto 0;
            width: 72px;
            content: '';
            display: inline-block
        }

        .MrIn_cn {
            float: left;
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100%
        }

        .MrIn_ul {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0
        }

        .MrIn_li {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0;
            float: left
        }

        .MrIn_lnk {
            display: flex;
            padding: 13px 15px 13px 53px;
            color: var(--vj-cl-dr);
            transition: all .3s;
            font-size: 15px;
            position: relative;
            align-items: center
        }

        .MrIn_lnk .vj_icn {
            position: absolute;
            left: 22px;
            top: 50%;
            margin-top: -7px;
            font-size: 15px
        }

        .MrIn_lnk .vj_icn.vj-info-comment {
            top: 13px
        }

        .MrIn_lnk:hover {
            background: var(--vj-cl-MrIn2)
        }

        .MrIn_on2 .MrIn_cn {
            height: 370px
        }

        .MrIn_crd,.MrIn_rel-cn {
            float: left;
            position: relative;
            height: 100%
        }

        .MrIn_rel-wr {
            display: none;
            float: left;
            width: 100%;
            padding-bottom: 10px
        }

        .MrIn_on2 .MrIn_rel-wr {
            display: inline-block
        }

        .MrIn_rel-ttl,.MrIn_rel-ttl2 {
            display: inline-block;
            float: left;
            font-size: 16px;
            font-weight: 600;
            padding: 0 15px 15px 22px;
            width: 100%
        }

        .MrIn_rel-ttl2 {
            font-size: 19px;
            font-weight: 600;
            padding: 20px 15px 20px 22px;
            width: 100%
        }

        .MrIn_rel-cn {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            list-style: none;
            padding: 0 15px 20px 21px;
            z-index: 1
        }

        .MrIn_rel-slide {
            width: 190px;
            margin-right: 15px;
            display: inline-block;
            flex-shrink: 0;
            vertical-align: top;
            white-space: normal
        }

        .MrIn_crd {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            width: 100%
        }

        .MrIn_crd-img {
            margin: 0 0 10px;
            border: 0;
            border-radius: 8px;
            overflow: hidden;
            width: 100%
        }

        .MrIn_crd .img-gr {
            padding-bottom: 56%
        }

        .MrIn_crd-txt-wr {
            display: flex;
            flex-direction: column;
            width: 100%;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1
        }

        .MrIn_crd-ttl {
            border: 0;
            color: var(--vj-cl-dr);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px
        }

        .MrIn_in2 {
            display: flex;
            float: left;
            padding: 10px 20px;
            width: 100%
        }

        .MrIn_wdg3 .MrIn_cn {
            height: 332px
        }

        .MrIn_wdg4 .MrIn_cn {
            height: 610px
        }

        .MrIn_in {
            display: flex;
            float: left;
            width: 100%;
            flex-direction: column
        }

        .MrIn_in .LstWg1_ul {
            padding: 0 22px
        }

        .MrIn_txt {
            color: var(--vj-cl-dr1);
            display: inline-block;
            float: left;
            font-family: var(--ff-two);
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
            margin-bottom: 18px;
            width: 100%
        }

        .MrIn_ttl {
            color: var(--vj-cl-dr);
            display: inline-block;
            float: left;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin: 0 0 9px;
            width: 100%
        }

        .MrIn_tg {
            background: #ffeb3b;
            color: #323232;
            border-radius: 4px;
            display: inline-block;
            font-weight: 600;
            font-size: 12px;
            float: left;
            margin: 0 6px 6px 0;
            padding: 0 6px 0;
            position: relative
        }

        .MrIn_tg-wr {
            display: inline-block;
            float: left;
            position: relative;
            margin-bottom: 8px;
            width: 100%
        }

        @media(max-height: 500px) {
.MrIn_wdg4 .MrIn_cn {
    height: 90%;
}
        }

        @media(min-width: 375px) {
            .MrIn_rel-slide {
                width:250px
            }
        }

        @media(min-width: 992px) {
            .MrIn_cn {
                width:calc(100% - 30px);
                margin: 0 15px
            }
        }

        @media(min-width: 1200px) {
            .MrIn_wdg4 {
                    display: none;
            }
        }

