.ClcMtr_wr {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ClcMtr_cn {
    background-color: #00C1DE;
    border-radius: 4px;
    float: left;
    margin: 0;
    padding: 10px 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 92px;
    color: #fff;
}


.ClcMtr_ttl {
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 13px 0;
}

.ClcMtr_img {
    float: right;
    margin: 0 0 0 60px;
    padding: 0;
    width: 91px;
}





@media(min-width:768px){

    .ClcMtr_img {margin:0 0 0 10px}
}