.Pup_wr-1{}


.Pup_hdr.Pup_hdr-1 {
    background: var(--vj-cl-Pup4);
    flex-direction: column;
    padding: 25px 15px 20px;
}

.Pup_hdr.Pup_hdr-1 .Pup_cls {
    margin-left: auto;
    margin-bottom: 10px;
}

.Pup_ttl-1 {
    color: var(--vj-cl-Pup5);
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    justify-content: center;
    margin: 0 auto 20px;
    text-align: center;
    width: 90%;
}

.Pup_hdr-frm {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.Pup_hdr-inp-wr {
    background: var(--vj-cl-Pup6);
    border: 0;
    border-radius: 4px;
    display: flex;
    padding: 5px 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.Pup_hdr-inp {
    background: transparent;
    color: #000;
    border: 0;
    flex: 1;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    outline:none;
}

.Pup_hdr-inp::placeholder {
    color: #000;
}

.Pup_hdr-srch {
    color: #00000080;
    font-size: 12px;
}

.Pup_hdr-spns {
    display: flex;
    letter-spacing: 0;
    color: var(--vj-cl-dr);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-style: italic;
    opacity: .5;
    width: 100%;
    justify-content: flex-end;
}

.Pup_AtSg-ul {
    display: flex;
    max-height: calc(100vh - 300px);
    padding: 18px 15px;
    width: 100%;
    overflow: auto;
    position: relative;
    flex-direction: column;
    /* border: 1px solid red; */
}

.Pup_AtSgIcn-wr {
    display: none;
}

.Pup_AtSg-li {
    border: 1px solid #7070704D;
    border-radius: 4px;
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
}

.Pup_AtSg-li:hover {
    border: 1px solid #03C1DE;
}

.Pup_AtSg-li:hover .Pup_AtSg-ttl {
    color: #03C1DE;
}

.Pup_AtSg-rw {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Pup_AtSg-cl {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Pup_AtSg-ttl-wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.Pup_AtSgIcn-lk,
.Pup_AtSgIcn-ttl-lk {
    color: var(--vj-cl-dr);
    display: inline-flex;
}

.Pup_AtSgIcn-lk:hover,
.Pup_AtSgIcn-ttl-lk:hover {
    color: var(--vj-cl-dr7);
}

.Pup_AtSgIcn {
    color: var(--vj-cl-dr);
    font-size: 19px;
}

.Pup_AtSg-ttl {
    color: var(--vj-cl-dr);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.Pup_AtSg-ans {
    color: var(--vj-cl-dr);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    font-style: italic;
    margin-bottom: 3px;
}

.Pup_AtSg-ans-spn {
    color: var(--vj-cl-Pup7);
    margin-right: 5px;
}

.Pup_AtSg-tx {
    color: var(--vj-cl-Pup8);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.Pup_SgLst-ul {
    display: flex;
    gap: 5px;
    padding: 15px;
    position: relative;
    width: 100%;
    flex-direction: row;
}

.Pup_AtSg-ul::after {
    content: '';
    position: fixed;
    bottom: 60px;
    left: -2px;
    width: 100%;
    height: 100px;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, var(--vj-cl-Pup3) 100%);
    pointer-events: none;
    z-index: 1;
}

.Pup_SgLst-li {
    display: flex;
    white-space: nowrap;
}

.Pup_SgLst-li-lk {
    background: var(--vj-cl-Pup9);
    border-radius: 5px;
    color: var(--vj-cl-dr);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 5px 10px;
}

.Pup_SgLst-li-lk:hover {
    background: var(--vj-cl-Pup10);
}

@media (min-width:992px) {

    .Pup_AtSg-ul::after{display:none}
    .Pup_ttl-1 {
        font-size: 28px;
        line-height: 44px
    }

    .Pup_hdr.Pup_hdr-1 {
        position: relative;
        margin-bottom: 20px;
        padding: 35px 30px 20px
    }

    .Pup_hdr.Pup_hdr-1 .Pup_cls {
        position: absolute;
        right: 30px
    }

    .Pup_cn-1 {
        padding: 0;
        width: 736px
    }

    .Pup_AtSg-ul {
        padding: 20px 30px
    }

    .Pup_SgLst-ul {
        padding: 0 30px 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 7px;
        row-gap: 17px
    }

    .Pup_AtSg-cl {
        flex-direction: row
    }

    .Pup_AtSgIcn-ttl-lk {
        display: none
    }

    .Pup_AtSgIcn-wr {
        display: flex
    }

    .Pup_AtSgIcn-icn {
        font-size: 19px
    }

    .Pup_AtSg-cl {
        gap: 10px
    }

    .Pup_AtSg-li {
        gap: 30px
    }

    .Pup_SgLst-li-lk {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        padding: 10px 25px
    }
}