/* Fade-in animation for news items */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMoveUp 0.4s forwards;
}

@keyframes fadeInMoveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*----====== Card D ======----*/
.NwsLstPg_cnt {
  background: var(--vj-cl-bg);
  /* border: 1px solid var(--vj-cl-br1); */
  display: inline-block;
  float: left;
  /* padding: 15px; */
  width: 100%;
  position: relative;
}

.NwsLstPg_cnt.NwsLstPg_cnt-ful {
  padding: 15px 25px;
}

.NwsLstPg_wrp {
  display: inline-block;
  padding: 0 0;
  width: 100%;
}

.NwsLstPg_hd {
  display: inline-block;
  position: relative;
  width: 100%;
}

.NwsLstPg_ul {
  display: inline-block;
  float: left;
  width: 100%;
}

.NwsLstPg-a-li {
  border-bottom: 2px dotted rgb(131 131 131 / 21%);
  display: inline-block;
  float: left;
  margin-bottom: 24px;
  padding-bottom: 24px;
  width: 100%;
}

.NwsLstPg-a-li:last-child {
  /* border-bottom: 0 none; */
  /* padding-bottom: 0; */
}

.NwsLstPg-a .NwsLstPg_ttl,
.NwsLstPg-a .NwsLstPg_txt {
  display: inline-block;
  float: left;
  width: 100%;
}

.NwsLstPg-a {
  display: inline-block;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.NwsLstPg-a .NwsLstPg_ttl {
  color: var(--vj-cl-dr);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
}

.NwsLstPg_lnk {
  color: var(--vj-cl-dr);
  margin: 0;
}

.NwsLstPg_ttl-lnk {
  display: inline-block;
  float: left;
  margin-bottom: 0;
}

.NwsLstPg_lnk:hover {
  color: var(--vj-cl-dr);
}

.NwsLstPg_img,
.NwsLstPg_txt-wrp,
.NwsLstPg_txt-cnt {
  display: flex;
  float: left;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.NwsLstPg-a .NwsLstPg_txt {
  color: var(--vj-cl-dr1);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 6px;
  margin-top: 8px;
}

.NwsLstPg_txt-cnt {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  justify-content: space-between;
}

.NwsLstPg-a .NwsLstPg_img {
  margin: 0 18px 0 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.NwsLstPg_Spon {
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: 7px;
  width: 100%;
}

.NwsLstPg_Spon-tx {
  background: var(--vj-cl-ot2);
  color: #444444;
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 11px;
  float: left;
  margin-right: 6px;
  padding: 2px 8px 1px;
  position: relative;
  /* opacity: 0.96; */
}

.NwsLstPg_pst {
  display: flex;
  float: left;
  margin-bottom: 10px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.NwsLstPg_pst_ul {
  display: inline-block;
  float: left;
  font-size: 0;
}

.NwsLstPg_pst_li {
  display: inline-block;
  float: left;
  font-size: 12px;
  font-family: var(--ff-two);
  position: relative;
}

.NwsLstPg_pst_lnk,
.NwsLstPg_pst_lnk a {
  color: var(--vj-cl-dr5);
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

.NwsLstPg_pst_li {
  padding-right: 8px;
  margin-right: 8px;
}

.NwsLstPg_pst_li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.NwsLstPg_aut {
  display: flex;
  align-items: center;
}

.NwsLstPg_aut img {
  display: flex;
  border-radius: 40px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.NwsLstPg_aut-nm {
  color: var(--vj-cl-dr3);
  display: flex;
  font-size: 13px;
}

.NwsLstPg_pst_li:before {
  background-color: var(--vj-cl-rg1);
  content: "";
  position: absolute;
  right: 0;
  height: 9px;
  top: 6px;
  width: 2px;
}

.NwsLstPg_pst_li:last-child:before {
  width: 0;
}

.NwsLstPg_pst_li:last-child .NwsLstPg_pst_lnk {
  padding-right: 0;
  margin-right: 0;
}

.NwsLstPg_pst_lnk img {
  width: 12px;
  margin: -5px 2px 0 0;
}

.NwsLstPg_pst_txt {
  color: var(--vj-cl-dr5);
  font-size: 12px;
  font-weight: 400;
  margin-right: 4px;
}

.NwsLstPg_pst_txt .NwsLstPg_pst_lnk {
  margin-left: 2px;
}

.NwsLstPg_img .img-gr {
  padding-bottom: 56.25%;
}

.NwsLstPg_pst .SSR_drp {
  margin-left: auto;
}

.NwsLstPg_ovl-dt {
  color: #fff;
  position: absolute;
  padding: 30px 10px 10px;
  font-size: 11px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.72) 33%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.72) 33%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.72) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

.NwsLstPg_ovl-dt-nm {
  font-size: 12px;
  font-weight: 400;
  float: left;
  line-height: 17px;
  display: inline-block;
}

/*--====== Two column  ======--*/

.NwsLstPg_2col .NwsLstPg-a-li {
  width: 100%;
  padding: 0 15px;
  border-bottom: 0 none;
}

.NwsLstPg_2col .NwsLstPg-a {
  border-bottom: 2px solid rgb(131 131 131 / 21%);
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  height: 100%;
}

.NwsLstPg_2col .NwsLstPg-a .NwsLstPg_img {
  margin: 0 0 8px;
  width: 100%;
}

.NwsLstPg_2col {
  display: flex;
  margin: 0 -15px;
  width: calc(100% + 30px);
  flex-wrap: wrap;
}

.NwsLstPg_2col .NwsLstPg_img .img-gr {
  padding-bottom: 56.25%;
}

@media (max-width: 1380px) {
  .NwsLstPg-a .NwsLstPg_img {
    width: 190px;
  }
}

@media (max-width: 1200px) {
  .NwsLstPg-a .NwsLstPg_img {
    width: 240px;
  }
}

@media (min-width: 575.98px) {
  .NwsLstPg_2col .NwsLstPg-a-li {
    width: 50%;
  }
}

/*--====== Two column  ======--*/

@media (max-width: 575.98px) {
  .NwsLstPg_wrp {
    padding: 0 0 0 0;
  }

  .NwsLstPg-a {
    display: inline-block;
  }

  .NwsLstPg-a .NwsLstPg_img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .NwsLstPg_cnt {
    border-left: 0 none;
    border-right: 0 none;
    display: inline-block;
    padding: 21px 15px;
    margin-left: -15px;
    margin-bottom: 30px;
    width: calc(100% + 30px);
  }

  .NwsLstPg_cnt.NwsLstPg_cnt-ful {
    padding: 15px 15px;
  }
}

@media (min-width: 1200px) {
  /* .NwsLstPg_cnt {
        padding: 15px 30px;
    } */

  .NwsLstPg_cnt.NwsLstPg_cnt-ful {
    padding: 15px 30px;
  }
}

/*Advertisement Starts*/

.NwsLstPg-a-li .ad-art_full2 {
  margin-top: -32px;
  margin-bottom: -50px;
}

.NwsLstPg_2col .NwsLstPg-a-li .ad-art_full2 {
  margin-top: -2px;
  margin-bottom: 5px;
  position: relative;
  z-index: 6;
}

.NwsLst-dsNn1 {
  display: none;
}

.NwsLstPg-a-li.ad-art_lst1 {
  display: none;
  margin-top: -32px;
  z-index: 1;
}

.ad-art_lst1 .ad-art_rw {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .NwsLst-dsNn1 {
    display: flex;
  }

  .NwsLstPg-a-li.ad-art_lst1 {
    display: flex;
    flex-direction: column;
  }
}

.NwsLstPg_ul .ad-art_dsk {
  display: flex;
}

.NwsLstPg_ul .ad-art_wap {
  display: none;
}

@media (max-width: 766px) {
  .NwsLstPg_ul .ad-art_dsk {
    display: none;
  }

  .NwsLstPg_ul .ad-art_wap {
    display: flex;
    flex-direction: column;
  }
}

/*Advertisement Ends*/

nav.NwsLstPg_pst {
  margin-bottom: 0;
}
