.fleft {
    float: left;
}

.fright {
    float: right;
}

.fnone {
    float: none;
}



.dinline {
    display: inline;
}

.dflex {
    display: flex;
}

.dinline-block {
    display: inline-block;
}





.HAuto {
    height: auto;
}

.WAuto {
    width: auto;
}

.H100 {
    height: 100%;
}


.DisLm {
    display: var(--vj-dp-lm);
}

.DisDm {
    display: var(--vj-dp-dm);
}



.ff-one {
    font-family: var(--ff-one)
}

.ff-two {
    font-family: var(--ff-two)
}

.ft-10 {
    font-size: 10px;
}

.ft-11 {
    font-size: 11px;
    line-height: 16.5px;
}

.ft-12 {
    font-size: 12px;
    line-height: 18px;
}

.ft-13 {
    font-size: 13px;
    line-height: 19.5px;
}

.ft-14 {
    font-size: 14px;
    line-height: 21px;
}

.ft-15 {
    font-size: 15px;
    line-height: 22.5px;
}

.ft-16 {
    font-size: 16px;
    line-height: 24px;
}

.ft-17 {
    font-size: 17px;
    line-height: 25.5px;
}

.ft-18 {
    font-size: 18px;
    line-height: 27px;
}

.ft-19 {
    font-size: 19px;
    line-height: 28.5px;
}

.ft-20 {
    font-size: 20px;
    line-height: 30px;
}

.ft-22 {
    font-size: 22px;
    line-height: 33px;
}

.ft-24 {
    font-size: 24px;
    line-height: 36px;
}

.ft-25 {
    font-size: 25px;
    line-height: 37.5px;
}

.ft-26 {
    font-size: 26px;
    line-height: 39px;
}

.ft-27 {
    font-size: 27px;
    line-height: 36px;
}

.ft-300 {
    font-weight: 300;
}

.ft-400 {
    font-weight: 400;
}

.ft-700 {
    font-weight: 700;
}

.ft-900 {
    font-weight: 900;
}

.font-n {
    font-weight: normal;
}

.font-b {
    font-weight: bold;
}

.bor_rg {
    border-right: 1px solid var(--vj-cl-rg1);
}

.bor_lg {
    border-left: 1px solid var(--vj-cl-rg1);
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.pt-0 {
    padding-top: 0;
}

.pt-8 {
    padding-top: 8px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pl-0 {
    padding-left: 0;
}

.pl-5 {
    padding-left: 5px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-0 {
    padding-right: 0;
}

.pr-5 {
    padding-right: 5px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-30 {
    padding-right: 30px;
}

.ptb-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.prl-0 {
    padding-right: 0;
    padding-left: 0;
}

.prl-5 {
    padding-right: 8px;
    padding-left: 8px;
}

.prl-8 {
    padding-right: 5px;
    padding-left: 5px;
}

.prl-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.prl-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.m-0 {
    margin: 0;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.-mb-30 {
    margin-top: -30px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 0.63rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.ml-0 {
    margin-left: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-0 {
    margin-right: 0;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mtb-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.mrl-0 {
    margin-right: 0;
    margin-left: 0;
}

.mrl-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.mrl-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mrl-15 {
    margin-right: 15px;
    margin-left: 15px;
}

.mrl-auto {
    margin-right: auto;
    margin-left: auto;
}

.t-italic {
    font-style: italic;
}

.t-uppercase {
    text-transform: uppercase;
}

.t-lowercase {
    text-transform: lowercase;
}

.t-underline {
    text-decoration: underline;
}

.t-line-through {
    text-decoration: line-through;
}

.t-h-no-decor:hover {
    text-decoration: none;
}

.t-h-underline:hover {
    text-decoration: underline;
}

.t-h-line-through:hover {
    text-decoration: line-through;
}

.t-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.t-left,
.t-xs-left {
    text-align: left;
}

.t-right,
.t-xs-right {
    text-align: right;
}

.t-center,
.t-xs-center {
    text-align: center;
}

.overflow-hidden,
.no-scroll {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.is-block {
    display: block;
}

.is-inline-block {
    display: inline-block;
}

.is-hidden {
    display: none;
}

.no-js .is-hidden--no-js {
    display: none;
}

.js .is-hidden--js {
    display: none;
}