.img-gr {
  background-color: var(--vj-cl-lg1);
  background: url("https://drop.ndtv.com/test/vj-ndtv/html/placeholder/v1.2/logo-placeholder.svg")
    no-repeat center var(--vj-cl-lg1);
  background-size: 70px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(44, 58, 74, 0.1) inset;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding-bottom: 75%; /* 4:3 Aspect Ratio */
  clear: both;
  width: 100%;
  position: relative;
}
.img-gr img,
.img-gr video,
.img-gr svg,
.img-gr iframe,
.img-gr amp-img,
.img-gr .x {
  /*background-color: #f1f3f7;*/
  color: rgba(0, 0, 0, 0);
  left: 0;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  /* transform: translateY(0); */
  /* filter: brightness(0.9) saturate(1.03) contrast(1.03);*/
}

.img-gr_a {
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}
.img-gr_b {
  padding-bottom: 66.66%; /* 3:2 Aspect Ratio */
}
.img-gr_c {
  padding-bottom: 75%; /* 4:3 Aspect Ratio */
}
.img-gr_d {
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
}
.img-gr_e {
  padding-bottom: 122%; /* custom 9:11 Aspect Ratio */
}
.img-gr_f {
  padding-bottom: 62%; /* 3:2 Aspect Ratio */
}
.img-gr_g {
  padding-bottom: 178%; /* custom 9:16 Aspect Ratio */
}

.img-gr_auto img {
  width: 100%;
}

.img-gr_sq {
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
}

.vd-gr_md {
  padding-bottom: 71.9%;
}

/*
.img_ratios {
    padding-top: 100%;  1:1 Aspect Ratio 
    padding-top: 56.25%;  16:9 Aspect Ratio 
    padding-top: 62.5%;  8:5 Aspect Ratio 
    padding-top: 66.66%;  3:2 Aspect Ratio 
    padding-top: 75%;  4:3 Aspect Ratio 
}*/

.crd-b .img-gr,
.crd-e .img-gr,
.crd-ph .img-gr,
.crd-vo .img-gr,
.amp-lst-a .img-gr,
.ins_instory_dv .img-gr {
  background-size: 80px;
}
.rnk_lst-lhs .img-gr {
  background-size: 30px;
}

.img-gr_ytb {
  pointer-events: none;
}

/*

data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgICB2aWV3Qm94PSIwIDAgMSAxIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxIDE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPC9zdmc+Cg==

.img-gr {
    background: url("../images/logo-placeholder.svg") no-repeat center var(--vj-cl-lg1);
    background-size: 69px;
}*/
