
/*----====== Top Tabs ======----*/

.UnrLin_1 {
  color: black;
  display: inline;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 white;
  transition: background 0.5s;
}
.UnrLin_1:hover {
  background-size: 100% 100%;
}




















